extends ./layouts/index


block contenido
  main.container.mt-5 
    .row 
      .col-md-5 
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis ipsum sed mauris eleifend, sit amet ultricies magna dignissim. Duis vel ex posuere, auctor arcu a, congue tellus. Maecenas auctor elementum tincidunt. 

        p vitae diam at tortor sollicitudin egestas quis vitae ante. Donec suscipit eros eget metus ultrices tincidunt. Ut elementum turpis lacus, a posuere lacus tincidunt at. Quisque hendrerit orci at pharetra tincidunt. Proin sed ullamcorper mauris. Fusce at est varius magna tristique vehicula. Proin ornare quam ac sem molestie ultricies.
  
        p at arcu erat. Phasellus ex quam, feugiat nec elit eu, sagittis tempor risus. Etiam dapibus nunc vitae dolor lobortis maximus. Nullam semper eu augue et mollis. Curabitur vitae lorem non erat imperdiet consectetur eget sed libero. Vivamus faucibus magna semper mauris iaculis bibendum. Ut nec magna bibendum, auctor magna eu, euismod purus. Praesent lobortis dolor a commodo facilisis. Nulla sed arcu tempus, faucibus massa luctus, maximus mi.
  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid- mb-4")
          h2.mb-4 Seguridad 
          p ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis ipsum sed mauris eleifend, sit amet ultricies magna dignissim. Duis vel ex posuere, auctor arcu a, congue tellus. Maecenas auctor elementum tincidunt. 
        
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid- mb-4")
          h2.mb-4 Mejores Destinos
          p ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis ipsum sed mauris eleifend, sit amet ultricies magna dignissim. Duis vel ex posuere, auctor arcu a, congue tellus. Maecenas auctor elementum tincidunt. 

        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid- mb-4")
          h2.mb-4 Los mejores precios
          p ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis ipsum sed mauris eleifend, sit amet ultricies magna dignissim. Duis vel ex posuere, auctor arcu a, congue tellus. Maecenas auctor elementum tincidunt. 